@import url('https://fonts.googleapis.com/css2?family=Teachers:ital,wght@0,400..800;1,400..800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Teachers", sans-serif;
}

body{
    background-image: url(imagens/fundo_enhanced.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.container_{
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
    align-content: center;
}

img
{
    object-fit: cover;
}

/*-----------------------------------------------------------*/

.cabecalho{
    background-color: #628067;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 11px 15px 10px 15px;
    position: fixed;
    z-index: 1;
}

.cabecalho img{
    max-width: 2.8em;
    max-height: 2.8em;
}

.cabecalho a, h2{
    margin: 0px 5px;
    text-decoration: none;
    color: white;
}

.cabecalhoTexto
{
    font-size: 24px;
    color: white;

}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

/*------------------------------------------------------------*/


.tituloInicio
{
    font-size: 70px;
    font-weight: bold;
    margin-left: -20px;
    color: rgb(98, 87, 70);
}

.introducao{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 15%;
    align-items: start;
    margin: 15%;
    margin-top: 100px;
    
}

.introducao div{
    margin: 0px ;
}

.introducao div p{
    line-height: 2.2em;
    font-size:  25px;
    margin-top: 20px;
    text-align: justify;
}

.introducao1
{
    width: 50%;
    max-width: 900px;
    min-width: 450px;
}

.introducao2{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    padding-top: 80px;
}

.introducao2 img{
    width: 100%;
    min-width: 200px;
    border-radius: 30px;
}

.introducao2 a{
    text-decoration: none;
    color: white;
    background: #628067;
    margin: 20px 0px;
    padding: 10px 30px;
    border-radius: 30px;
    font-size: 20px;
}

.introducao2 a:hover{
    transform: scale(1.05);
    background: rgb(73, 97, 77);
}

/*------------------------------------------------------------*/
.triangulo
{
    width: 0; 
    height: 0; 
    border-left: 50px solid transparent; 
    border-top: 50px solid transparent; 
    border-bottom: 50px solid #a4c4af; 
    position:fixed;
    z-index: 1;
    right: 0;
    margin: 10px 45px;
}

#popup
{
    background-color: #a4c4af;
    width: 160px;
    font-size: 19px;
    line-height: 2em;
    padding: 15px 10px 15px 25px;
    border-radius: 20px;
    border-top-right-radius: 0px;
    z-index: 1;
    font-weight: none;
    position: fixed;
    right: 0;
    margin: 90px 45px;
    box-shadow: -3px 3px 2px #628067;
}

.hidden
{
    display: none;
}

#popup a
{
    color: black;
    text-decoration: none;
}


@media (max-width: 714px)

{
    .introducao2
    {
        width: 80%;
    }
}


/*------------------------------------------------------------*/

.plantas {
    text-align: center;
    margin-top: 30px;
  }
  
  .tituloPlantas {
    font-size: 55px;
    font-weight: bold;
    color: rgb(53, 46, 42);
    margin-bottom: 20px;
  }
  
  .carrossel {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 80%;
    margin: auto;
    margin-top: 100px;
  }
  
  .carrossel-inner {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 450px;
    gap: 50px;
    transition: transform 0.5s ease;
  }
  
  .car_planta {
    background-color: #807668;
    border-radius: 30px;
    padding: 0px 20px;
    width: 370px;
    height: 470px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    transition: transform 0.5s ease, opacity 0.5s ease;
    opacity: 0.6;
  }
  
  .car_planta img {
    width: 90%;
    height: 75%;
    border-radius: 20px;
    object-fit: cover;
  }
  
  .car_planta.central {
    transform: scale(1.2);
    opacity: 1;
  }
  
  .car_planta .texto{
    margin: -15px;
    padding: 0;
    font-size: 1.3em;
    text-align:center;
    color: rgb(208, 208, 208);
}
.car_planta .tituloCar
{
    font-size:2em;
} 

/*---------------------------------------------------*/

.comprar{
    margin:10% 8% 5% 5%;
    display: flex;
    flex-direction: row;
    gap: 180px;
    
}

.comprar img
{
    height: 650px;
    width: 500px;
    border-radius: 30px;
    object-fit: cover;
}

.tituloComprar
{
    font-size: 65px;
    font-weight: bold;
    margin: 0px 0px 0px 0px;
    text-align: end;
}

.comprar2 p
{
    line-height: 2.3em;
    font-size:  25px;
    text-align: end;
    margin: 50px 0px 0px 0px;
}

.comprar2
{
    display: flex;
    flex-direction: column;
    align-items: end;
}

.comprar2 a
{
    text-decoration: none;
    color: white;
    background: #628067;
    margin: 20px 0px;
    padding: 10px 30px;
    border-radius: 30px;
    font-size: 20px;
    width: 200px;
    text-align: center;
    margin: 100px 0px 0px 0px;
}



.comprar2 a:hover
{
    transform: scale(1.05);
    background: rgb(73, 97, 77);
}


/*---------------------------------------------------*/

#rodape{
    background-color: #a29787;
    height: max-content;
    width: 100%;
    margin:200px 0px 0px 0px;
    padding: 50px 5% 150px 5%;
}

#tituloRodape{
    font-size: 70px;
    font-weight: bold;
}

#rodape p{
    line-height: 1.7em;
    font-size:  25px;
    text-align: justify;
}

.desenvolvedores{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 60px;
    flex-wrap: wrap;
    gap: 30px;
}

.single
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.single img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom:10px;
}

.nomeDes
{
    font-size: 22px;
    font-weight: bold;;
}


/*---------------------------------------------------*/

@media (max-width: 1340px) and (min-width:1042px)
{
    .introducao div p
    {
        font-size: 23px;
        
    }
    .introducao
    {
        margin:5%;
    }

    .comprar{
        width: 70%;
        margin: 10% auto;

    }
    
    .comprar img
    {
        display:none;
    }

}

@media (max-width: 1042px)
{
    p 
    {
        font-size: 23px;
    }
    .introducao
    {
        flex-direction: column;
        align-items: center;
        margin:5%;
        gap: 0px;
    }

    .introducao1
    {
        width: 80%;
    }

    .introducao2
    {
        width: 80%;
        gap:20px;
    }

    .plantas{
        margin: 10%;
        align-items: center;
        justify-content: center;
    }

    .car_planta{
        max-width: 600px;

    }

    .tituloPlantas
    {
        text-align: center;
    }
    
    #car_lados
    {
        display: none;
    }

    .comprar
    {
        flex-direction: column;
        width:80%;
        margin: 0% 10% 0% 10%;
        align-items: center;
        justify-content: center;
    }

    .comprar img
    {
        display:none;
    }

    .comprar2
    {
        align-items:center;
        justify-content: center;
    }

    .comprar2 p
    {
        text-align: justify;
    }

    
}



/*--------------CONTATO----------------------------------------------------------------------*/

.contato{
    margin: 8% 15% 0% 15%;
    display: flex;
    flex-direction: column;

}
.contato strong{
    font-size: 50px;
    color: rgb(57, 50, 43);

}
.contato p
{
    font-size: 23px;
    margin-top: 10px;
}

.contato h3{
    font-size: 20px;
    font-weight:normal;
}

.formulario
{
    display: flex;
    flex-direction: column;
    gap: 5px;
    
}

input
{
    width: 500px;
    height: 40px;
    border-radius: 16px;
    padding: 15px;
    background-color: rgba(223, 242, 230, 0.6);
    border: none;
    border-bottom: 2px solid #000;
    font-size: 15px;
}

input::placeholder
{
    color:#628067;
    font-size: 15px;
}

input:focus
{
    border: none;
    border-bottom: 2px solid #000;
    background-color: rgba(223, 242, 230, 1);
    outline: none;
}

#msg input
{
    height: 90px;
    padding: 15px;
}

#msg input::placeholder
{
    position: absolute;
    top: 13px;
}

#enviar
{
    width: 250px;
    background-color: rgba(77, 113, 76, 1);
    margin-top: 25px;
    color: white;
    font-size: 17px;
    padding: 0px;
}

#enviar:active
{
    background-color: rgb(65, 95, 64);
}


.formas
{
    display: flex;
    
    flex-direction:row;
    flex-wrap: wrap;
    margin-top: 30px;
    gap: 40px;

}
span{
    margin-left: 10%;
}
span h2
{
    font-size: 25px;
    color:black;
    
}

span h4
{
    font-size: 18px;
    margin: 5px 0px 20px 0px;
    font-weight: normal;
}

.frente
{
    margin-left: 30px;
}


/*--------------COMPRAR---------------------------------------------------------------------------------------*/

.compree
{
    margin: 8% 10% 0% 10%;
}

.compree strong
{
    font-size: 50px;
    color: rgb(69, 52, 44);

}

.compree p
{
    font-size: 24px;
    line-height: 2em;
    width: 50%;
    margin-top: 20px;
    text-align: justify;
}

/*--------------MINHA CONTA---------------------------------------------------------------------------------------*/

.minhaConta{
    margin: 8% 10% 0% 10%;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 15%;
    margin-top: 150px;
}

.minhaConta .titulo{
    font-size: 4em;
    color: #5d5445;
}

.informacoes{
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.informacoes div img{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom:10px;
    margin-right: 70px;
}

.informacoesPessoais{
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.informacoesPessoais p{
    font-size: 1.8em;
}

.tituloConta{
    font-size: 55px;
    font-weight: bold;
    color: rgb(53, 46, 42);
    margin: -90px auto -120px auto;
}

/*--------------CARROSSEL----------*/

.carrosselConta {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 450px;
    gap: 50px;
    transition: transform 0.5s ease;
}

.car_Conta {
    background-color: #807668;
    border-radius: 30px;
    padding: 0px 20px;
    width: 450px;
    height: 225px;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    transition: transform 0.5s ease, opacity 0.5s ease;
    opacity: 1;
}

.car_Conta:hover {
    transform: scale(1.05);
}

.car_Conta img {
    width: 170px;
    height: 75%;
    border-radius: 20px;
    object-fit: cover;
    margin-right: 20px;
}

.car_Conta_Informacoes .tituloCar{
    font-size: 2em;
    margin-bottom: 20px;
}