@import url('https://fonts.googleapis.com/css2?family=Teachers:ital,wght@0,400..800;1,400..800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Teachers", sans-serif;
}

body{
    background-image: url(imagens/fundo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.container_{
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
}

/*-----------------------------------------------------------*/

.cabecalho{
    background-color: #628067;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 11px 15px 10px 15px;
    position: fixed;
    z-index: 1;
}

.cabecalho img{
    max-width: 2.8em;
    max-height: 2.8em;
}

.cabecalho a, h2{
    margin: 0px 5px;
    text-decoration: none;
    color: white;
}

.cabecalhoTexto
{
    font-size: 24px;
    color: white;

}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

/*------------------------------------------------------------*/


.tituloInicio
{
    font-size: 70px;
    font-weight: bold;
    margin-left: -20px;
    color: rgb(98, 87, 70);
}

.introducao{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 15%;
    align-items: start;
    margin: 5%;
    margin-top: 100px;
    
}

.introducao div{
    margin: 0px ;
}

.introducao div p{
    line-height: 2.3em;
    font-size:  25px;
    margin-top: 20px;
    text-align: justify;
}

.introducao1
{
    width: 50%;
    max-width: 900px;
    min-width: 450px;
}

.introducao2{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    padding-top: 80px;
}

.introducao2 img{
    width: 100%;
    min-width: 200px;
    border-radius: 30px;
}

.introducao2 a{
    text-decoration: none;
    color: white;
    background: #628067;
    margin: 20px 0px;
    padding: 10px 30px;
    border-radius: 30px;
    font-size: 20px;
}

.introducao2 a:hover{
    transform: scale(1.05);
    background: rgb(73, 97, 77);
}

/*------------------------------------------------------------*/

.popUp
{
    background-color: #a4c4af;
    width: 160px;
    font-size: 19px;
    line-height: 2em;
    padding: 15px 10px 15px 25px;
    border-radius: 20px;
    border-top-right-radius: 0px;
    z-index: 1;
    font-weight: none;
    position: absolute;
    right: 0;
    margin: 90px 45px;
    /*display: none;
    
fazer o ngc da pontinha
e javascript ne*/
}

.popUp a
{
    color: black;
    text-decoration: none;
}


@media (max-width: 714px)

{
    .introducao2
    {
        width: 80%;
    }
}


/*------------------------------------------------------------*/

.plantas
{
    margin: 5%;
}

.tituloPlantas
{
    font-size: 55px;
    font-weight: bold;
    color: rgb(53, 46, 42);
}


.carrosel
{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:50px;
}

.seta
{
    font-size: 50px;
}

.car_planta
{
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 450px;
    background-color: #807668;
    margin: 0;
    border-radius: 30px;
    padding:20px;
    color: white;
    align-items:center;
    gap: 10px;
}

#car_lados
{
    height: 400px;
    width: 300px;
}

.car_planta .texto{
    margin: -15px;
    padding: 0;
    font-size: 1.3em;
    text-align:center;
    color: rgb(208, 208, 208);
}
.car_planta .tituloCar
{
    font-size:2em;
}
#tituloMeio
{
    font-size: 4em;
}

#textoMeio
{
    margin: -30px;
font-size: 2em;
}

.car_planta img{
    border-radius: 20px;
    margin: 5% 5% 0;
    height: 70%;  
    width: 90%;
}

.carousel-item {
    transition: transform 0.5s;
}
.smaller {
    transform: scale(0.8);
}


/*---------------------------------------------------*/

.comprar{
    margin:10% 8% 5% 5%;
    
}

.corpo
{
    margin: 50px;
    display: flex;
    flex-direction: row;
    gap: 180px;
}

.comprar img
{
    height: 650px;
    width: 500px;
    border-radius: 30px;
    object-fit: cover;
}

.tituloComprar
{
    font-size: 65px;
    font-weight: bold;
    margin: 0px 0px 0px 0px;
    text-align: end;
}

.comprar2 p
{
    line-height: 2.3em;
    font-size:  25px;
    text-align: end;
    margin: 50px 0px 0px 0px;
}

.comprar2
{
    display: flex;
    flex-direction: column;
    align-items: end;
}

.comprar2 a
{
    text-decoration: none;
    color: white;
    background: #628067;
    margin: 20px 0px;
    padding: 10px 30px;
    border-radius: 30px;
    font-size: 20px;
    width: 200px;
    text-align: center;
    margin: 100px 0px 0px 0px;
}



.comprar2 a:hover
{
    transform: scale(1.05);
    background: rgb(73, 97, 77);
}


/*---------------------------------------------------*/

#rodape{
    background-color: #a29787;
    height: max-content;
    width: 100%;
    margin:200px 0px 0px 0px;
    padding: 50px 5% 150px 5%;
}

#tituloRodape{
    font-size: 70px;
    font-weight: bold;
}

#rodape p{
    line-height: 1.7em;
    font-size:  25px;
    text-align: justify;
}

.desenvolvedores{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 60px;
    flex-wrap: wrap;
}

.single
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.single img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom:10px;
}

.nomeDes
{
    font-size: 22px;
    font-weight: bold;;
}

