<div id="rodape">
    <div id="tituloRodape">EcoStuff</div>
    <p>
        Alunos do curso de Desenvolvimento de <br>
        Sistemas do Cotil (2023-2025)
    </p>
    <p>Desenvolvedores da EcoStuff:</p>
    <div class="desenvolvedores">
        <div class="single">
            <img src="../../public/imagens/cecilia.jpeg">
            <span class="nomeDes">Cecília Pignatelli</span>
            Desenvolvimento Web


        </div>

        <div class="single">
            <img src="../../public/imagens/feliepe.png">
            <span class="nomeDes">Felipe Cassio</span>
            Desenvolvimento Mobile e Arduíno


        </div>

        <div class="single">
            <img src="../../public/imagens/massari.jpg">
            <span class="nomeDes">Guilherme Massari</span>
            Desenvolvimento Desktop


        </div>

        <div class="single">
            <img src="../../public/imagens/samuel.jpg">
            <span class="nomeDes">Samuel Gilvane</span>
            Desenvolvimento Mobile e Web


        </div>


    </div>
   
</div>

 <div class="powerBI">Tem interesse em nossas estatísticas? Acesse <a href="../powerBI/powerBI.php">esta página</a> para visualizar um relatório Power BI sobre a EcoStuff.</div>