/*--------------COMPRAR---------------------------------------------------------------------------------------*/

.compree
{
    margin: 130px 15% 0% 15%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.compree .row
{
    display: flex;
    gap: 100px;
}

.compree strong
{
    font-size: 50px;
    color: rgb(69, 52, 44);

}

.compree p
{
    font-size: 24px;
    line-height: 2em;
    margin-top: 20px;
    text-align: justify;
}

.compreTxt
{
    width: 50%
}

.imgCompre
{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    min-width: 300px;
}


.imgCompre img
{
    height: 450px;
    width: 100%;
    border-radius: 20px;
}

.imgCompre a
{
    width: 180px;
    height: 45px;
    color:white;
    background-color: #628067;
    font-size: 20px;
    border-radius: 30px;
    border:none;
    margin-top: 30px;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

.imgCompre a:hover{
    transform: scale(1.05);
    background: rgb(73, 97, 77);
}