/*--------------MINHA CONTA---------------------------------------------------------------------------------------*/


.minhaConta {
    margin: 150px 5% 15% 100px;
    display: flex;
    flex-direction: column;
    align-items: start;
}
.lapis
{
    cursor: pointer;
}
.minhaConta .titulo {
    font-size: 3em;
    color: #5d5445;
}

.informacoes {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: 7%;
}

.informacoes div img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
    margin-right: 50px;
}

.imagemConta{
    display:flex;
    flex-direction: column;
    align-items: center;
}

#semImagem
{
    background-color: #628067;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    width: 100px;
    padding: 8px;
    margin-top: 30px;
    border: none;
}

#semImagem:hover{
    background-color: #3d4e40;
}

/*input da foto*/

.image-container {
    position: relative;
    display:inline-block;
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.image-container:hover #editar{
    opacity: 1;
    visibility: visible;
    pointer-events: none;

}

.inputFoto {
    position: static;
    opacity: 0;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: black;
    z-index: 1;

}




.imagem-carregada {
    position: absolute;
    width: 100% !important;
    height: 100% !important;
    max-height: 200px;
    object-fit: cover;
    transform: translateX(-100%);
    opacity: 1;
    z-index: 2;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

#editar {
    position: absolute;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 1;
    visibility: hidden;
    z-index: 999 !important;
    pointer-events: none;
    margin-top: -200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#editar .material-symbols-outlined
{
    color:white;

}


/*----------------------*/



.informacoesPessoais {
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: min(10%, 130px);
    line-height: 3em;
    margin-top: 0px;
}

.informacoesPessoais p {
    font-size: 1.3em;
}


.infos {
    display: flex;
    flex-direction: column;
    width: 40%;
    min-width: 150px;
}

.endereco {
    display: flex;
    flex-direction: column;
    width: 50%;
    min-width: 200px;
}

.informacoesPessoais .lapis {
    text-align: end;
    height: 30px;
}

.tituloConta {
    font-size: 55px;
    font-weight: bold;
    color: rgb(53, 46, 42);
    margin: 0px auto 50px auto;
}

#mais
{
    display:flex;
    flex-direction: row;
    gap: 20px;
}

#mais1{
    display: flex;
    justify-content: start;
    padding-top: 30px;
}

#excluir
{
    color: white;
    font-weight: bold;
    background-color: #628067;
    border: none;
    height: 50px;
    width: 110px;
    border-radius: 10px;
}

#excluir:hover
{
    background-color: #3d4e40;
}

#mudarSenha
{
    color: white;
    font-weight: bold;
    background-color: #628067;
    border: none;
    height: 50px;
    width: 110px;
    border-radius: 10px;
    padding: 5px;
}

#mudarSenha:hover
{
    background-color: #3d4e40;
}




/*--------------CARROSSEL----------*/

.carrossel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 80%;
    margin: auto;
    margin-bottom: -150px;
}

.carrosselConta {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 450px;
    gap: 50px;
    transition: transform 0.5s ease;
}

.car_Conta {
    background-color: #807668;
    border-radius: 30px;
    padding: 0px 20px;
    width: 450px;
    height: 225px;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    transition: transform 0.5s ease, opacity 0.5s ease;
    opacity: 1;
}

.car_Conta:hover {
    transform: scale(1.05);
}

.car_Conta img {
    width: 170px;
    height: 75%;
    border-radius: 20px;
    object-fit: cover;
    margin-right: 20px;
}

.car_Conta_Informacoes .tituloCar {
    font-size: 2em;
    margin-bottom: 20px;
}

@media(max-width: 1500px) {
    .carrossel {
        margin: auto;
        margin-top: 0px;
        margin-bottom: -160px;
    }


    .car_Conta {
        flex-direction: column;
        width: 300px;
        height: fit-content;
        padding: 20px;
        padding-top: 35px;
    }

    .car_Conta img {
        width: 220px;
        height: 75%;
        margin-bottom: 20px;
        margin-left: 15px;
    }

}

@media (max-width: 1041px) {

    .car_Conta {
        padding: 0px 20px;
        width: 450px;
        height: 225px;
        flex-direction: row;
    }

    .car_Conta img {
        width: 170px;
        height: 75%;
        border-radius: 20px;
        margin-right: 20px;
    }

}

@media(max-width: 1110px) {
    .minhaConta {
        margin-left: min(15%, 100px)
    }

    .informacoesPessoais {
        gap: 35px;
    }

    .informacoes div img {
        width: 160px;
        height: 160px;
    }
}


@media(max-width: 800px) {

    .informacoesPessoais{
        gap: 40px;
        flex-direction:column;
        margin: 30px 30px 30px 20px;
    }

    .informacoes
    {
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .infos,.endereco{
        width: 350px;
    }


}




@media(max-width: 550px) {

    .minhaConta
    {
        margin-top: 100px;
    }

    .informacoes div img {
        width: 130px;
        height: 130px;
    }

    .carrossel {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 80%;
        margin: auto;
        margin-top: 0px;
        margin-bottom: -100px;
    }

    .car_Conta {
        flex-direction: column;
        width: 300px;
        height: fit-content;
        padding: 20px;
        padding-top: 35px;
    }

    .car_Conta img {
        width: 220px;
        height: 75%;
        border-radius: 20px;
        object-fit: cover;
        margin-bottom: 20px;
        margin-left: 15px;
    }

    .infos,.endereco{
        width: 200px;
    }

    .tituloConta
    {
        font-size: 40px;;
    }

}

@media(max-width: 400px) {

    .car_Conta {
        width: 220px;
        height: fit-content;
        padding: 20px;
        padding-left: 24px;
        padding-top: 26px;
    }

    .car_Conta img {
        width: 180px;
        height: 75%;
        border-radius: 20px;
        object-fit: cover;
        margin-bottom: 20px;
        margin-left: 15px;
    }

}

@media(max-width: 336px) {
    .tituloConta {
        margin: 0px auto 50px 50px;
    }
}